#Folders to ignore
bin/
target/
build/
.externalToolBuilders/
.DS_Store

#Gradle
.gradle/
artifacts/
gradle-app.setting

#Maven
dependency-reduced-pom.xml

# Eclipse
.settings
.project
.classpath
.manifest

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

#Maven files
dependency-reduced-pom.xml

#Specific files to the project
*.checkstyle